.menu-button {
    -fx-background-color: #000080;
    -fx-background-radius: 0px;
    -fx-border-color:black;
    -fx-border-width: 1 1 1 1;
}
.menu-button:pressed {
    -fx-background-color: #4400aa;
}
.test-deadlock-button {
    -fx-background-color: #ff6600;
    -fx-background-radius: 0px;
    -fx-border-color:black;
    -fx-border-width: 1 1 1 1;
}
.test-deadlock-button:pressed {
    -fx-background-color: #ff7f2a;

}
.select-file-button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0px;
    -fx-border-color:black;
    -fx-border-width: 1 1 1 1;
}
.select-file-button:pressed {
    -fx-background-color: #cccccc;
}
.text-file-path {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0px;
    -fx-border-color:black;
    -fx-border-width: 1 1 1 1;
}